[submodule "plugin/vim-coffee-script"]
	path = plugin/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
